<!DOCTYPE html>
<html>
<head>
  <title>StampLife</title>
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in?  && false %>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% elsif false %>
    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>



  <%= render "layouts/errors" %>

  <%= yield %>

</body>
</html>
